<h2>投稿編集ページ</h2>
<%= form_with model: @post, url: post_path(@post.id),method: :patch do |f| %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :body %>
  <%= f.submit '保存' %>
<% end %>
