<%= flash[:notice] %>
<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="text-center">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: "300x300", class: "img-fluid" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "300x300", class: "img-fluid" %>
        <% end %>
      </div>
    </div>
    <!--投稿内容とユーザー名などを表示する-->
    <div class="col-md-8">
      <h4><投稿者></h4>
      <h4><%= link_to @post.user.name, user_path(@post.user)%></h4>
      <h4><タイトル></h4>
      <h4><%= @post.title %></h4>
      <h4><説明></h4>
      <p><%= @post.body %></p>
      <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <!--コメント件数-->
      <td id="comment_counter">
        <%= render "public/post_comments/counter", post: @post %>
      </td>
      <!--いいね機能-->
          <% if @post.favorited_by?(current_user) %>
        <p>
          <%= link_to post_favorite_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %> いいね
          <% end %>
        </p>
          <% else %>
        <p>
          <%= link_to post_favorite_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>
      <!--DM-->
      <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
        <%= link_to 'chatを始める', chat_path(@user.id), class: "ml-3" %>
      <% end %>
      
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8 offset-md-4">
      <h3>コメント</h3>
      <!--コメントを残す部分-->
        <div id="comment_index">
         <%= render "public/post_comments/index", post: @post %>
        </div>
        <!--コメントを記入するフォーマット-->
        <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>
