<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="text-center">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: "300x300", class: "img-fluid" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "300x300", class: "img-fluid" %>
        <% end %>
      </div>
    </div>
  <div class="col-md-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-decoration: underline;">投稿者</h4>
         <p class="card-text"><%= link_to @post.user.name, user_path(@post.user) %></p>
         <h4 class="card-title" style="text-decoration: underline;">タイトル</h4>
         <p class="card-text"><%= @post.title %></p>
         <h4 class="card-title" style="text-decoration: underline;">説明</h4>
         <p class="card-text"><%= @post.body %></p>
         <p class="card-text" style="text-decoration: underline;">投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
          <!-- コメント件数 -->
          <div id="comment_counter">
            <%= render "public/post_comments/counter", post: @post %>
          </div>
          <div class="btn-group">
            <% if @post.favorited_by?(current_user) %>
              <%= link_to post_favorite_path(@post), method: :delete, class: "btn btn-danger" do %>
                ♥ <%= @post.favorites.count %> いいね
              <% end %>
            <% else %>
              <%= link_to post_favorite_path(@post), method: :post, class: "btn btn-primary" do %>
                ♡ <%= @post.favorites.count %> いいね
              <% end %>
            <% end %>
            <!-- DM -->
            <% if current_user.present? && current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
              <%= link_to 'chatを始める', chat_path(@user.id), class: "btn btn-info ml-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <h3>コメント</h3>
      <!--コメントを残す部分-->
        <div id="comment_index">
         <%= render "public/post_comments/index", post: @post %>
        </div>
        <!--コメントを記入するフォーマット-->
        <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>
