<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="text-center">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: "300x300", class: "img-fluid" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "300x300", class: "img-fluid" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="text-decoration: underline;">投稿者</h4>
          <p class="card-text"><%= link_to @post.user.name, user_path(@post.user) %></p>
          <h4 class="card-title" style="text-decoration: underline;">タイトル</h4>
          <p class="card-text"><%= @post.title %></p>
          <h4 class="card-title" style="text-decoration: underline;">説明</h4>
          <p class="card-text"><%= @post.body %></p>
          <p class="card-text" style="text-decoration: underline;">投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
          <!-- コメント件数 -->
          <div id="comment_counter">
            <%= render "public/post_comments/counter", post: @post %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8">
      <h3>コメント</h3>
      <% @post.post_comments.each do |post_comments| %>
        <div class="border p-3 mb-3">
          <%= post_comments.user.name %>（<%= post_comments.created_at.strftime('%Y/%m/%d') %>）<br>
          <%= post_comments.comment %>
          <%= link_to "削除", admin_post_post_comment_path(post_comments.post, post_comments), method: :delete, class: "btn btn-danger btn-sm mt-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>