<!DOCTYPE html>
<html>
  <head>
    <title>SweetsClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/654388b0cb.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body class="bg-light">
    <div class="content">
      <%= render 'layouts/header' %>
      <main>
        <div class="d-flex justify-content-between align-items-center mb-3 pt-xl-2 pr-xl-5 container">
          <p id="notice"><%= notice %></p>
          <%= render "searches/form" %>
        </div>
        <%= yield %>
      </main>
    </div>
  <%= render 'layouts/footer' %>
 </body>
</html>